@import "//at.alicdn.com/t/font_929870_kiz7cxhb6s.css";
@font-face {
  font-family: 'iconfont';  /* project id 929870 */
  src: url('//at.alicdn.com/t/font_929870_kiz7cxhb6s.eot');
  src: url('//at.alicdn.com/t/font_929870_kiz7cxhb6s.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_929870_kiz7cxhb6s.woff') format('woff'),
  url('//at.alicdn.com/t/font_929870_kiz7cxhb6s.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_929870_kiz7cxhb6s.svg#iconfont') format('svg');
}